@import url(../classes/class.default.css);


/* ============================================================== header */


header {
  /* position: fixed; */
  width: 100%;
  padding: 16px 24px;
  background: var(--secondary-800);
  box-shadow: 0 0 10px 2px var(--secondary-900);
  z-index: 99999;
}

header #header-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: .875em;
}

header #navbar-logo {
  color: var(--text-50);
  font-weight: 700;
  font-size: 1.5em;
}
header #navbar-logo > span {
  color: var(--secondary-600);
}
header #navbar-logo:hover {
  color: var(--primary-500);
}
header #navbar-logo:focus {
  color: var(--primary-500);
  outline: 2px dotted var(--primary-500);
}

header nav {
  display: flex;
  gap: 16px;
}

header a {
  color: var(--text-50);
}

header a:hover {
  color: var(--primary-500);
}
header a:focus {
  color: var(--primary-500);
  outline: 2px dotted var(--primary-500);
}


/* ============================================================== main */


main {
  margin-top: 32px;
  padding: 0 24px 0 24px;
}

main #main-title,
main #main-desc {
  text-align: center;
}

main #main-desc {
  margin-top: 4px;
  padding: 0 48px;
  color: var(--text-300);
}

section[id="add-new-btn-wrapper"] {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  margin: 0 24px 24px 0;
}

#add-new-btn {
  cursor: pointer;
  background: var(--primary-500);
  color: var(--white);
  padding: 20px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  box-shadow: 0 0 16px 1px var(--secondary-900);

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 450ms;
}

#add-new-btn:hover,
#add-new-btn:focus {
  background: var(--primary-600);
  box-shadow: 0 0 4px 4px var(--secondary-900);
  transform: rotate(180deg);
}

section[id="contents-wrapper"] {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

section #both-content-btn-wrapper-default {
  display: flex;
}


.both__content h2 {
  font-size: 1em;
  text-align: center;
}


/* ============================================================== footer */


footer {
  padding: 24px 24px;
  color: var(--text-50);
  background-color: var(--secondary-900);

  font-size: .75em;
}

footer div {
  display: flex;
}

footer div p {
  margin: 0 auto;
  text-align: center;
}
