/*  */

/* SCREEN: md */
@media (min-width: 768px) {
}

/* SCREEN: lg */
@media (min-width: 1024px) {
}

/* SCREEN: base */
footer {
  padding: 24px 48px;
  color: var(--secondary-300);
  background-color: var(--secondary-850);

  font-size: 0.75em;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer div p {
  margin: 0 auto;
  text-align: center;
}
