af-searchform h2 {
  font-size: 1.5em;
  color: var(--text-200);
}

/* #app-searchform h2 {
  font-size: 1.25em;
  color: var(--text-200);
} */

.form-wrapper {
  /* padding: 24px 0; */
  /* box-shadow: 0 0px 20px 0 var(--secondary-800); */
}

.search-form {
  margin-top: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--secondary-800);
}

.search-box {
  flex-grow: 1;
  padding: 0.75rem 0 0.75rem 0.75rem;
  background-color: var(--secondary-800);
  color: var(--text-400);
}
.search-box::placeholder {
  color: var(--text-400);
}

.search-btn {
  display: flex;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  margin-right: 2px;

  /* background-color: var(--primary-600); */
  color: var(--primary-400);
  border: 2px solid transparent;
}
.search-btn:hover {
  color: var(--primary-200);
}
.search-btn:focus {
  border: 2px solid var(--primary-500);
}
