.ring {
  --offset-shadow: 0 0 0 2px var(--secondary-700);
  --ring-shadow: 0 0 0 4px var(--primary-500);
  box-shadow: var(--offset-shadow), var(--ring-shadow);
}

.hidden {
  display: none;
}

.show {
  display: block;
}


/* ================================================================== */


.both__content__wrapper {
  background: var(--secondary-700);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.left__content__btn {
  display: flex;
  justify-content: space-around;

  background-color: var(--secondary-800);
  color: var(--text-300);
  border-radius: 4px 0 0 0;
  width: 50%;
  border-top: solid 2px transparent;
  margin-right: 2px;
}

.left__content__btn:hover,
.left__content__btn:focus {
  background-color: var(--secondary-600);
}

.right__content__btn {
  display: flex;
  justify-content: space-around;

  background-color: var(--secondary-800);
  color: var(--text-300);
  border-radius: 0 4px 0 0;
  width: 50%;
  border-top: solid 2px transparent;
  margin-left: 2px;
}

.right__content__btn:hover,
.right__content__btn:focus {
  background-color: var(--secondary-600);
}

.toggle__btn__active {
  border-top: solid 2px var(--primary-500);
  background-color: var(--secondary-700);
  color: var(--text-50);
  font-weight: 700;
}


/* ============================================================== */


.form__wrapper {
  padding: 24px 16px;
  box-shadow: 0 0px 20px 0 var(--secondary-800);
}

.search__form {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--white);
}

.search__box {
  flex-grow: 1;
  padding: .5rem 0 .5rem .75rem;
}

.search__btn {
  display: flex;
  padding: .3rem .3rem .3rem .3rem;
  margin-right: 2px;
  
  /* background-color: var(--primary-600); */
  color: var(--primary-600);
  border: 2px solid transparent;
}
.search__btn:hover {
  color: var(--primary-300);
}
.search__btn:focus {
  border: 2px solid var(--primary-500);
}



/* ================================================================ */



.results__wrapper {
  padding-top: 20px;
  height: 65vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.cards {
  /* border: tomato 2px solid; */
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 4px;
}

.card:hover {
  outline: none;
  cursor: pointer;
  background: var(--secondary-900);
  box-shadow: 0 0 4px 2px var(--primary-600);
}

.card:focus {
  outline: none;
  background: var(--secondary-900);
  box-shadow: 0 0 4px 2px var(--primary-600);
}

.card__title {
  font-size: 1em;
}

.card span {
  margin-top: 4px;
  display: flex;
  color: var(--text-300);
}

.card__author {
  font-size: .875em;
}

.card__year {
  font-size: .875em;
}