.ring {
  --offset-shadow: 0 0 0 2px var(--secondary-900);
  --ring-shadow: 0 0 0 4px var(--primary-500);
  box-shadow: var(--offset-shadow), var(--ring-shadow);
}

.hidden {
  display: none;
}

.show {
  display: block;
}


/* ================================================================== */


.both__content__wrapper {
  background: var(--secondary-700);
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.left__content__btn {
  background-color: var(--secondary-800);
  color: var(--text-300);
  border-radius: 4px 0 0 0;
  width: 50%;
  border-top: solid 2px transparent;
  margin-right: 2px;
}

.right__content__btn {
  background-color: var(--secondary-800);
  color: var(--text-300);
  border-radius: 0 4px 0 0;
  width: 50%;
  border-top: solid 2px transparent;
  margin-left: 2px;
}

.toggle__btn__active {
  border-top: solid 2px var(--primary-500);
  background-color: var(--secondary-700);
  color: var(--text-50);
}

/* .both__content {
  max-height: 200px;
  overflow-y: auto;
} */

.form__wrapper {
  padding: 24px 16px;
  box-shadow: 0 0px 20px 0 var(--secondary-800);
}

.search__form {
  width: 100%;
  position: relative;
  display: flex;
  gap: 0;
  align-items: center;
  border-radius: 4px;
  background-color: var(--white);
  justify-content: space-between;
  margin-top: 4px;
}

.search__box {
  flex-grow: 1;
}

.search__btn {
  padding: .3rem .9rem;
  margin-right: 4px;
  
  background-color: var(--primary-600);
  color: var(--white);
}



/* ================================================================ */

.results__wrapper {
  padding-top: 20px;
  height: 70vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.cards {
  /* border: tomato 2px solid; */
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
}

.card {
  padding: 12px;
  border-radius: 4px;
}

.card:hover {
  background: var(--secondary-900);
  box-shadow: 0 0 4px 2px var(--primary-600);
}

.card__title {
  font-size: 1em;
}

.card span {
  margin-top: 4px;
  display: flex;
  color: var(--text-300);
}

.card__author {
  font-size: .875em;
}

.card__year {
  font-size: .875em;
}