:root {
  --font-st: 'Fira Sans', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-nd: Roboto, 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --black: black;
  --white: white;

  --primary-50: #fdf4ff;
  --primary-100: #fae8ff;
  --primary-200: #f5d0fe;
  --primary-300: #f0abfc;
  --primary-400: #e879f9;
  --primary-500: #d946ef;
  --primary-600: #c026d3;
  --primary-700: #a21caf;
  --primary-800: #86198f;
  --primary-900: #701a75;

  --secondary-100: #f1f5f9; /* BLGR */
  --secondary-200: #e2e8f0; /* BLGR */
  --secondary-300: #cbd5e1; /* BLGR */
  --secondary-600: #475569; /* BLGR */
  --secondary-700: #334155;
  --secondary-800: #1e293b; /* BLGR */
  --secondary-850: #1a2238; /* BLGR */
  --secondary-900: #0f172a; /* BLGR */

  --text-50: #f8fafc; /* BLGR */
  --text-100: #f1f5f9; /* BLGR */
  --text-200: #e2e8f0; /* BLGR */
  --text-300: #cbd5e1; /* BLGR */
  --text-400: #94a3b8; /* BLGR */

  --green-100: #d1fae5;
  --green-300: #6ee7b7;
  --green-600: #059669;
  --green-700: #047857;

  --blue-100: #dbeafe;
  --blue-300: #93c5fd;
  --blue-600: #2563eb;
  --blue-700: #2563eb;

  --amber-100: #fef3c7;
  --amber-300: #fcd34d;
  --amber-600: #d97706;
  --amber-700: #b45309;

  --red-100: #ffe4e6;
  --red-300: #fda4af;
  --red-600: #e11d48;
  --red-700: #be123c;
}

/* Thank you tailwindcss */
